* {
  padding: 0em;
  margin: 0em;
}

#bottom_bg {
  width: 100vw;
  height: 10em;
  background: url("./Vector 1.svg") no-repeat center;
  background-size: cover;
  position: absolute;
  bottom: 0em;
}

#left_side {
  position: absolute;
  top: 50%;
  transform: rotate(-90deg);
  left: -8%;
}

#center {
  position: relative;
  left: 16em;
  top: 5em;
  width: 50%;
}

.qoute {
  color: #ccc;
  font-size: 36px;
  font-family: "Krona One", sans-serif;
}

#name {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 95px;
  text-transform: uppercase;
  letter-spacing: 0.245em;
  color: #000000;
}

#profile_picture {
  width: 274px;
  height: 274px;
  border-radius: 50%;
}

#title {
  font-family: "Oxygen", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.02em;
}

#skills {
  font-family: "Oxygen", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.02em;
  position: relative;
  left: 3em;
  top: 0.3em;
}

.des {
  font-family: "Oxygen", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.02em;
}

#des_group {
  position: relative;
  top: 3.5em;
  left: 4.5em;
}

#des2 {
  position: relative;
  left: 2em;
}

#bottom {
  width: 30%;
  bottom: 9em;
  left: 2em;
  position: fixed;
  display: flex;
  justify-content: space-evenly;
}

#bottom a {
  text-decoration: none;
}
